/* Font Style - heading */
$font-size--heading: 30px;
$line-height--heading: 100%;
$font-weight--heading: 400;

/* Font Style - heading TV */
$font-size--heading--tv: 40px;
$line-height--heading--tv: 49px;
$font-weight--heading--tv: bold;

/* Font Style - lg-bold */
$font-size--lg-bold: 21px;
$line-height--lg-bold: 100%;
$font-weight--lg-bold: 700;

/* Font Style - md-bold */
$font-size--md-bold: 16px;
$line-height--md-bold: 100%;
$font-weight--md-bold: 700;

/* Font Style - md-bold TV */
$font-size--md-bold--tv: 25px;
$line-height--md-bold--tv: 33px;
$font-weight--md-bold--tv: bold;

/* Font Style - md-regular */
$font-size--md-regular: 16px;
$line-height--md-regular: 140%;
$font-weight--md-regular: 400;

/* Font Style - md-regular TV */
$font-size--md-regular--tv: 25px;
$line-height--md-regular--tv: 33px;
$font-weight--md-regular--tv: 500;

/* Font Style - sm-bold */
$font-size--sm-bold: 13px;
$line-height--sm-bold: 100%;
$font-weight--sm-bold: 700;

/* Font Style - sm-bold TV */
$font-size--sm-bold--tv: 20 px;
$line-height--sm-bold--tv: 25px;
$font-weight--sm-bold--tv: 700;

/* Font Style - sm-regular */
$font-size--sm-regular: 13px;
$line-height--sm-regular: 100%;
$font-weight--sm-regular: 400;
