<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a (mouseover)="preloadBundle('observable')" class="nav-link" routerLink="observable">Observables</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a (mouseover)="preloadBundle('pipes')" class="nav-link" routerLink="pipes">Pipes</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a (mouseover)="preloadBundle('credits')" class="nav-link" routerLink="credits">Credits</a>
            </li>
        </ul>
    </div>
</nav>