/* You can add global styles to this file, and also import other style files */
@import './theme/theme';

.animation {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
}

